@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark {
    color-scheme: dark;
  }

  .theme-neutral {
    --color-bg: #0b0d07;
    --color-text: #ffffff;
    --color-text-light: #a8aba3;
    --color-border: #484b43;
  }

  .dark .theme-neutral {
    --color-bg: #000000;
    --color-text: #dcdcdc;
    --color-text-light: #969696;
    --color-border: #323232;
  }

  /* Neutral Tint */
  .theme-neutral-tint {
    --color-bg: #22231f;
    --color-text: #ffffff;
    --color-text-light: #aaaea2;
    --color-border: #53564e;
  }

  .dark .theme-neutral-tint {
    --color-bg: #141414;
    --color-text: #dcdcdc;
    --color-text-light: #969696;
    --color-border: #323232;
  }

  /* Neutral Light */
  .theme-neutral-light {
    --color-bg: #ffffff;
    --color-text: #20272c;
    --color-text-light: #4c5863;
    --color-border: #d9e0e6;
  }

  .theme-neutral-light-tint {
    --color-bg: #fafcfd;
    --color-text: #20272c;
    --color-text-light: #4c5863;
    --color-border: #d9e0e6;
  }

  /* Error */
  .theme-error {
    --color-bg: #d44121;
    --color-text: #ffffff;
    --color-text-light: #ffe3dc;
    --color-border: #f59782;
  }

  .theme-error-tint {
    --color-bg: #b5361a;
    --color-text: #ffffff;
    --color-text-light: #f5d9d2;
    --color-border: #e58d7a;
  }

  /* Success */
  .theme-success {
    --color-bg: #5aa138;
    --color-text: #ffffff;
    --color-text-light: #e9ffdf;
    --color-border: #c1ddb4;
  }

  .theme-success-tint {
    --color-bg: #478c26;
    --color-text: #ffffff;
    --color-text-light: #ceecc0;
    --color-border: #8dc274;
  }

  /* Brand */
  .theme-brand {
    --color-bg: #00ddb3;
    --color-text: #ffffff;
    --color-text-light: #ffffff;
    --color-border: #ffffff;
  }

  .theme-brand-tint {
    --color-bg: #009d91;
    --color-text: #ffffff;
    --color-text-light: #ffffff;
    --color-border: #ffffff;
  }

  .bb {
    --block-background: var(--color-bg);
  }

  .heading {
    @apply font-semibold tracking-tight;
  }
}
